
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Sdz{% endblock %}</title>

        {% stylesheets  filter='cssrewrite' output='css/compiled/main.css'  filter='yui_css'
                    '@JCLEMemoBundle/Resources/public/css/style.css'
                    'css/jquery-ui.min.css'
                    'css/shCore.css'
                    'css/shThemeDefault.css'
                    'css/bootstrap.css'
                    'markitup/skins/simple/style.css'
                    'markitup/sets/BBCode/style.css' 
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
  </head>

  <body>
      
      
      <!-- Ici, le contenu du site -->
      
      

        {% javascripts output='js/compiled/main.js'  filter='yui_js'
                                'js/jquery.js'
                                'js/jquery-ui.js'
                                '@JCLEMemoBundle/Resources/public/js/*'
                                'js/shCore.js'
                                'js/bootstrap.js'
                                'js/brushesSH/*'
                                'markitup/jquery.markitup.js'
                                'markitup/sets/BBCode/set.js'

        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

  </body>
</html>