{% extends "JCLEMemoBundle::layout.html.twig" %}

{% block jclememo_body %}
    <div class="text-center well">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock jclememo_body %}
