{% extends "JCLEMemoBundle::layout.html.twig" %}

{% block jclememo_body %}
    {% include "FOSUserBundle:Fmessage:message.html.twig" %}
    <div class="row">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
{% endblock %}