{% extends "JCLEMemoBundle::layout.html.twig" %}

{% set hideNavBar=true %}

{% trans_default_domain 'FOSUserBundle' %}

{% block jclememo_body %}
<div class='well text-center'>
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
    <a href='{{ path('jclememo_accueil') }}'>Retour</a>
</div>
{% endblock jclememo_body %}
