{% extends "JCLEMemoBundle::layout.html.twig" %}
{% set hideNavBar=true %}

{% block jclememo_body %}
    {% include "FOSUserBundle:Fmessage:message.html.twig" %}
    <div class="row">
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
{% endblock jclememo_body %}
